@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Instrument+Serif:ital@0;1&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "daisyui" {
  themes: hcatheme --default;
}

@plugin "daisyui/theme" {
  name: "hcatheme";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(0% 0 0);
  --color-base-300: oklch(98% 0.016 73.684);
  --color-base-content: oklch(55% 0.195 38.402);

  --color-primary: oklch(100% 0 0);
  --color-primary-content: oklch(55% 0.195 38.402);

  --color-secondary: oklch(98% 0.016 73.684);
  --color-secondary-content: oklch(55% 0.195 38.402);

  --color-accent: oklch(55% 0.195 38.402);
  --color-accent-content: oklch(98% 0.016 73.684);

  --color-neutral: oklch(55% 0.195 38.402);
  --color-neutral-content: oklch(100% 0 0);

  --color-info: oklch(100% 0 0);
  --color-info-content: oklch(0% 0 0);

  --color-success: oklch(98% 0.016 73.684);
  --color-success-content: oklch(55% 0.195 38.402);

  --color-warning: oklch(47% 0.137 46.201);
  --color-warning-content: oklch(98% 0.022 95.277);

  --color-error: oklch(55% 0.195 38.402);
  --color-error-content: oklch(98% 0.016 73.684);

  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  /* Her tilføjes theme variable // tokens */
  --font-bebas: "Bebas Neue", sans-serif;
  --font-instrument: "Instrument Serif", serif;
  --font-oswald: "Oswald", sans-serif;
}

@layer base {
  ::file-selector-button {
    border-color: var(--color-base-content);
  }
}
