@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Instrument+Serif:ital@0;1&family=Oswald:wght@200..700&display=swap");

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-instrument-serif: "Instrument-serif", serif;
  --font-oswald: "Oswald", sans-serif;
  /* Her tilføjes theme variable // tokens */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
