<div class="join join-vertical bg-base-100">
  <div class="collapse collapse-arrow join-item">
    <input type="radio" name="my-accordion-4" id="acc1" class="peer hidden" checked />
    <label for="acc1" class="collapse-title font-semibold cursor-pointer pb-2">
      How do I create an account?
    </label>
    <div class="collapse-content text-sm max-h-0 overflow-hidden peer-checked:max-h-40 transition-all duration-300 ease-in-out">
      Click the "Sign Up" button in the top right corner and follow the registration process.
    </div>
    <!-- Streger, som flytter sig -->
    <div class="border-b border-gray-300 transition-all duration-300 ease-in-out
      peer-checked:mt-2 mt-0">
    </div>
  </div>

  <div class="collapse collapse-arrow join-item">
    <input type="radio" name="my-accordion-4" id="acc2" class="peer hidden" />
    <label for="acc2" class="collapse-title font-semibold cursor-pointer pb-2">
      I forgot my password. What should I do?
    </label>
    <div class="collapse-content text-sm max-h-0 overflow-hidden peer-checked:max-h-40 transition-all duration-300 ease-in-out">
      Click on "Forgot Password" on the login page and follow the instructions sent to your email.
    </div>
    <div class="border-b border-gray-300 transition-all duration-300 ease-in-out
      peer-checked:mt-2 mt-0">
    </div>
  </div>

  <div class="collapse collapse-arrow join-item">
    <input type="radio" name="my-accordion-4" id="acc3" class="peer hidden" />
    <label for="acc3" class="collapse-title font-semibold cursor-pointer pb-2">
      How do I update my profile information?
    </label>
    <div class="collapse-content text-sm max-h-0 overflow-hidden peer-checked:max-h-40 transition-all duration-300 ease-in-out">
      Go to "My Account" settings and select "Edit Profile" to make changes.
    </div>
    <div class="border-b border-gray-300 transition-all duration-300 ease-in-out
      peer-checked:mt-2 mt-0">
    </div>
  </div>
</div>





